{% load static %}
<div class="iconos-nosotros">
	<div class="icono">
		<img src="{% static "img/icono1.svg" %}" alt="Icono de Seguridad" loading="lazy">
		<h3>Seguridad</h3>
		<p>
			Nuestra prioridad es garantizar la seguridad y tranquilidad de nuestros clientes en cada transacción inmobiliaria. Nos
			comprometemos a ofrecer un servicio confiable y transparente, protegiendo tus intereses y asegurando que cada paso del
			proceso se lleve a cabo de manera segura y sin contratiempos.
		</p>
	</div>
	<div class="icono">
		<img src="{% static "img/icono2.svg" %}" alt="Icono de Precio" loading="lazy">
		<h3>Valor Justo</h3>
		<p>
			Valoramos la importancia de establecer un precio justo y competitivo para cada propiedad. Con un profundo conocimiento del
			mercado, te proporcionamos una evaluación precisa y realista de tu propiedad, asegurando que obtengas el mejor valor posible
			en la venta o alquiler de tu hogar.
		</p>
	</div>
	<div class="icono">
		<img src="{% static "img/icono3.svg" %}" alt="Icono de Tiempo" loading="lazy">
		<h3>A Tiempo</h3>
		<p>
			Entendemos que el tiempo es esencial en el mercado inmobiliario. Nos comprometemos a proporcionarte un servicio ágil y
			eficiente, minimizando los tiempos de espera y asegurando una respuesta rápida a tus necesidades. Con nosotros, puedes
			confiar en que tus transacciones se realizarán de manera oportuna y sin demoras innecesarias.
		</p>
	</div>
</div>
