.boton {
	&--amarillo {
		@include boton($amarillo);
	}
	&--verde {
		@include boton($verde);
	}
	&--rojo {
		@include boton($rojo);
	}
	&--amarillo,
	&--verde,
	&--rojo {
		&.block {
			display: block;
		}
	}

	&--rojo.block {
		width: 100%;
		padding: 1.5rem 0;
	}
}
