/** Media Queries **/
@mixin telefono {
	@media (min-width: #{$telefono}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}
@mixin grid($columnas, $espaciado) {
	display: grid;
	gap: $espaciado;
	grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bg_color, $display: inline-block, $text-color: $blanco) {
	background-color: $bg_color;
	color: $text-color;
	font-weight: $bold;
	text-decoration: none;
	padding: 1rem 3rem;
	text-align: center;
	margin-top: calc($separacion/ 2);
	display: $display;
	border: none;
	border-radius: 0.5rem;
	transition: background-color 0.3s ease-in-out, scale 0.3s ease-in-out;

	&:hover {
		background-color: darken($color: $bg_color, $amount: 8);
		scale: 1.05;
	}
}
