{% extends "layout/base.html" %} {% block contenido %}
{% include "layouts/mensajes.html" %}
<h2>Mas Sobre Nosotros</h2>
<main class="contenedor seccion">
    {% include "layout/iconos.html" %}
</main>
<section class="seccion contenedor">
	<h1>Casas y Depas en Venta</h1>
	<div class="contenedor-anuncios">
        {% for propiedad in propiedades %}
            <div class="card">
                <img src="{{propiedad.imagen.url}}" alt="propiedad.titulo">
                <div class="contenido-anuncio">
                    <h3>{{propiedad.titulo}}</h3>
                    <p>{{propiedad.descripcion}}</p>
                    {% include "layout/contenido-anuncio.html" %}
                    <a href="{% url "anuncio" propiedad.id %}" class="boton boton--amarillo block">Ver Propiedad</a>
                </div>
            </div>
        {% endfor %}
	</div>
    <div class="alinear-derecha">
        <a href="{% url "anuncios" %}" class="boton--verde">Ver todas</a>
    </div>
</section>

<section class="imagen-contacto">
    <h2>Encuentra la casa de tus sueños</h2>
    <p>Llena el formulario de contacto y un asesor se pondra en contacto contigo a la brevedad</p>
    <a href="{% url "contacto" %}" class="boton--amarillo block">Contactanos</a>
</section>

<div class="contenedor seccion seccion-inferior">
    <section class="blog">
        <h3>Nuestro Blog</h3>
        {% include "layout/contenido-blog.html" %}
    </section>

    <section class="textimoniales">
        <h3>Testimoniales</h3>
        <div class="testimonial">
            <blockquote>
                El personal se comporto de una excelente forma, muy buena atencion y la casa que me ofrecieron cumple con todas mis espectativas
            </blockquote>
            <p>- Andoni Hernandez</p>
        </div>
    </section>
</div>
{% endblock contenido %}