{% extends "layout/base.html" %}

{% block contenido %}
<main class="contenedor seccion">
    <h1>{{titulo}}</h1>
    {% include "layouts/mensajes.html" %}
    <form action="{% url "login" %}" method="post" class="formulario">
        {% csrf_token %}
        <fieldset>
            <legend>Username y Password</legend>
            <label for="username">Nombre de Usuario</label>
            <input type="text" name="username" id="username" placeholder="Ingresa tu username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Ingresa tu Password">
        </fieldset>
        <input type="submit" value="Iniciar Sesion" class="boton boton--verde">
    </form>
</main>
{% endblock contenido %}